/* -- Arquivo da Fonte-- */

/* -- Link da Fonte -- */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* -- Transformando o tamanho da fonte padrao para 10px-- */
html{
    font-size: 62.5%;
}

/* -- Variaveis da Fonte-- */
$font__family: 'Inter', sans-serif;
$font__size-p: 1.2rem;
$font__size-m: 1.6rem;
$font__size-l: 2.2rem;
$font__weigth: 400;